/*//////////*//*//////////*//*//////////*//*//////////*//*//////////*//*//////////*//*//////////*//*//////////*//*//////////*//*//////////*//*//////////*/
body{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/22/52/coding-1841550_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.errorlist {
    display: none;
}
.retour {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 1;
}
.nav-item {
    display: flex;
}
.nav-link img {
    width: 20px;
    height: 20px;
}

a p {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
.blockSupression {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* BLOCK SUPPRESION */
.blockSuppression__mainIdea {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    z-index: 10;
}
/* FIN BLOCK SUPPRESION */
/* MENU PRJET DE VIE */
.projetVie__fleche{
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
    cursor: pointer;
    z-index: 5;
    animation: projetVie__fleche 1s infinite;
}
@keyframes projetVie__fleche {
    0% {
        left: 25%;
    }
    50% {
        left: 26%;
    }
    100% {
        left: 25%;
    }
}
.projetVie__page {
    top: 0;
    left: -75%;
    background-color: transparent;
    transition: left 1s, background-color 1s;
    z-index: 4;
}
.projetVie__page__active .projetVie__page {
    left: 0;
    background-color: black;
    z-index: 10;
}
.projetVie__page > svg {
    position: absolute;
    right: 10px;
    top:10px;
    fill: transparent;
    cursor: pointer;
    transition: fill 1s;
}
.projetVie__page__active .projetVie__page > svg {
    fill: #FFF;
}
.projetVie__page__cardBlock .card{
    background-color: transparent !important;
    color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color 1s, transform .3s, border 1s;
}
.projetVie__page__cardBlock .card:hover{
    transform: translateY(-10px);
}
.projetVie__page__active .projetVie__page__cardBlock .card {
    color: #FFF;
    border: 1px solid #28a745;
}
.projetVie__page__cardBlock .card svg {
    fill: transparent;
    transition: fill 1s;
}
.projetVie__page__active .projetVie__page__cardBlock .card svg {
    fill: #28a745;
}

/* FIN MENU PROJET DE VIE */
.blockMainIdea{
    height: 100vh;
    overflow-y: scroll;
    background: rgba(0,0,0,.8);
    z-index: 5;
}
.blockMainIdea::-webkit-scrollbar{
    display: none;
}
.blockMainIdea__nav__item {
    border-radius: 3px;
}
.blockMainIdea__nav__item:hover {
    background: rgba(0,0,0,.6);
}
.container__blockProgrammeForm {
    height: 100vh;
}
.container__blockProgrammeForm .card{
    overflow-y: hidden;
}
.container__blockProgrammeForm .card ul{
    overflow-y: scroll;
}
.container__blockProgrammeForm .card ul::-webkit-scrollbar{
    display: none;
}
.card__programme__categorie {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 100%;
    height: 52px;
    background: #28a745;
    color: #FFF;
}
.list-group-item__programme__mainCategorie {
    display: none;
}
form {
    padding: 30px;
    background-color: rgba(0,0,0,.8);
    border-radius: 6px;
    position: relative;
    bottom: 0;
    margin: auto;
}
.form__text p input{
    padding: 5px;
    margin-top: 18px;
}
.form__text p input:focus{
    background-color: #28a745;
    color: #FFF;
}
.form__text p select{
    padding: 5px;
    margin-top: 18px;
}
.form__buttonSubmit {
    border-radius: 3px;
    padding: 5px;
    width: 150px;
    margin: auto;
}
.containerCard__secondIdeaForm {
    height: 100vh;
}
.containerCard__secondIdea {
    overflow-y: scroll;
}
.containerCard__secondIdea::-webkit-scrollbar {
    overflow: hidden;
}